@import url(../styles/globals.css);

.container {
  display: flex;
  max-width: 360px;
  min-height: 100%;
  padding: 40px 16px 24px 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 2 columnas */
  justify-content: center;
  justify-items: center;

  align-items: center;
  align-content: center;
  gap: 24px;
  align-self: stretch;
  flex-wrap: wrap;
  width: 100%;
  /* Asegura que ocupe todo el ancho disponible */
  margin: 32px 0;
  /* Margen superior e inferior para separación */

}

.beltCircle {
  display: flex;
  width: 98px;
  height: 90px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid var(--primario-color);
  background: var(--imagen-cinturon);
  /* Usar variable CSS para la imagen del cinturón */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  background-color: var(--belt-color);
  /* Usar variable CSS para el color del cinturón */
  flex: 1 0 0;
  align-self: stretch;
}

.beltCircle.selected {
  border-color: #333;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*
.startButton {
  padding: 12px 24px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 1rem;
  opacity: 0.5;
  transition: opacity 0.3s, transform 0.3s;
}


.startButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.7;
}

.startButton:hover:not(:disabled) {
  background-color: #45a049;
  transform: translateY(-2px);
}

*/
.startButton:not(:disabled) {
  opacity: 1;
  transform: scale(1.05);
  cursor: pointer;
}