.loginContainer {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
}

.inputGroup {
  margin-bottom: 1.5rem;
  text-align: left;
}

.inputGroup label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.inputGroup input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

.loginButton {
  width: 100% ;
  padding: 12px;
  margin-top: 12px;
  background-color: var(--secundario-color);
  color: var(--primario-color);
   border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  justify-content: center;
}

.loginButton:hover {
  background-color: var(--primario-color);
  color: var(--secundario-color);
}